<ng-container *cdkPortal
  ><fuse-drawer
    class="w-screen min-w-screen sm:w-65vw sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'addSourceDrawer'"
    [position]="'right'"
    [opened]="fuseDrawerOpened"
    (openedChanged)="openedChanged(fuseDrawer)"
    #fuseDrawer>
    <!-- Title -->
    <div
      class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
      <!-- Header -->
      <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
          <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Add Company</div>
      </div>

      <!-- Main -->
      <div class="flex flex-auto overflow-hidden">
        <!-- sources list -->
        <div
          class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
          <form class="flex flex-col w-full" [formGroup]="selectedCompanyForm">
            <div class="flex flex-col sm:flex-row p-8">
              <!-- Status -->
              <div
                class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                <div class="flex flex-col">
                  <span class="font-semibold mb-2">Active</span>
                  <mat-slide-toggle
                    [formControlName]="'is_active'"
                    [color]="'primary'">
                    {{
                      selectedCompanyForm.get('is_active').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
                <div class="flex flex-col mt-8">
                  <span class="font-semibold mb-2">Allow Beta</span>
                  <mat-slide-toggle
                    [formControlName]="'allow_beta'"
                    [color]="'primary'">
                    {{
                      selectedCompanyForm.get('allow_beta').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
              </div>

              <div class="flex flex-auto flex-wrap">
                <!-- Name, Referrer & etc. -->
                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                  <!-- Name -->
                  <mat-form-field class="w-full">
                    <mat-label>Company Name</mat-label>
                    <input matInput [formControlName]="'company_name'" />
                    <mat-error>Company name is required</mat-error>
                  </mat-form-field>

                  <!-- Limits -->
                  <div class="flex">
                    <mat-form-field class="w-1/2 pr-2">
                      <mat-label>User Limit</mat-label>
                      <input matInput [formControlName]="'user_limit'" />
                      <mat-error>User limit is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 px-2">
                      <mat-label>Source Limit</mat-label>
                      <input matInput [formControlName]="'source_limit'" />
                      <mat-error>Source limit is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="flex">
                    <mat-form-field class="w-1/2 pr-2">
                      <mat-label>Integration Limit</mat-label>
                      <input matInput [formControlName]="'integration_limit'" />
                      <mat-error>Integration limit is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-1/2 px-2">
                      <mat-label>SKU Limit</mat-label>
                      <input matInput [formControlName]="'sku_limit'" />
                      <mat-error>SKU is required</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="flex">
                    <mat-form-field class="w-1/3 pr-2">
                      <mat-label>Referrer</mat-label>
                      <input matInput [formControlName]="'referrer'" />
                    </mat-form-field>
                    <mat-form-field class="w-2/3 pl-2">
                      <mat-label>Notes</mat-label>
                      <input matInput [formControlName]="'note'" />
                    </mat-form-field>
                  </div>
                </div>

                <!-- Tags -->
                <div class="flex justify-between w-1/2">
                  <!-- Restricted to sources -->
                  <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- Tags -->
                    <span class="mb-px font-medium leading-tight"
                      >Restricted to sources</span
                    >
                    <div
                      class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                      <!-- Header -->
                      <div class="flex items-center -my-px py-2 px-3">
                        <div class="flex items-center flex-auto min-w-0">
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                          <input
                            class="min-w-0 ml-2 py-1 border-0"
                            type="text"
                            placeholder="Source name"
                            (input)="filterRestrictedToSourceTags($event)"
                            (keydown)="
                              filterRestrictedToSourceTagsInputKeyDown($event)
                            "
                            [maxLength]="50"
                            #newTagInput />
                        </div>
                      </div>
                      <!-- Available tags -->
                      <div
                        class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                        <!-- Tags -->
                        <ng-container>
                          <ng-container
                            *ngFor="
                              let tag of filteredRestrictedToSourceTags;
                              trackBy: trackByFn
                            ">
                            <mat-checkbox
                              class="flex items-center h-10 min-h-10 px-4"
                              [color]="'primary'"
                              [checked]="
                                selectedCompany.restricted_to_sources.includes(
                                  tag.id
                                )
                              "
                              (change)="
                                toggleRestrictedToSourceTag(tag, $event)
                              ">
                              {{ tag.title }}
                            </mat-checkbox>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <!-- Restricted to integrations -->
                  <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- Tags -->
                    <span class="mb-px font-medium leading-tight"
                      >Restricted to integrations</span
                    >
                    <div
                      class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                      <!-- Header -->
                      <div class="flex items-center -my-px py-2 px-3">
                        <div class="flex items-center flex-auto min-w-0">
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                          <input
                            class="min-w-0 ml-2 py-1 border-0"
                            type="text"
                            placeholder="Integration name"
                            (input)="filterRestrictedToIntegrationTags($event)"
                            (keydown)="
                              filterRestrictedToIntegrationTagsInputKeyDown(
                                $event
                              )
                            "
                            [maxLength]="50"
                            #newTagInput />
                        </div>
                      </div>
                      <!-- Available tags -->
                      <div
                        class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                        <!-- Tags -->
                        <ng-container>
                          <ng-container
                            *ngFor="
                              let tag of filteredRestrictedToIntegrationTags;
                              trackBy: trackByFn
                            ">
                            <mat-checkbox
                              class="flex items-center h-10 min-h-10 px-4"
                              [color]="'primary'"
                              [checked]="
                                selectedCompany.restricted_to_integrations.includes(
                                  tag.id
                                )
                              "
                              (change)="
                                toggleRestrictedToIntegrationTag(tag, $event)
                              ">
                              {{ tag.title }}
                            </mat-checkbox>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-center w-full border-t px-8 py-4">
              <div class="flex items-center ml-auto mr-0">
                <div class="flex items-center mr-4" *ngIf="flashMessage">
                  <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                      class="text-green-500"
                      [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Company created</span>
                  </ng-container>

                  <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                      class="text-red-500"
                      [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">{{ errorMsg }}</span>
                  </ng-container>
                </div>
                <button
                  mat-flat-button
                  class="mr-2"
                  type="button"
                  (click)="onCancel()">
                  Cancel
                </button>
                <button
                  mat-flat-button
                  [color]="'primary'"
                  type="button"
                  [disabled]="selectedCompanyForm.invalid"
                  (click)="createCompany()">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </fuse-drawer>
</ng-container>
