<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="sourceForm">
    <!-- MarapostSource Section -->
    <div
      class="grid sm:grid-cols-4 gap-6 w-full mt-8"
      *ngIf="
        sourceFormEnum[selectedSource.source_platform] ===
        sourceFormEnum.maropost
      ">
      <!-- Store Url -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Store Domain Url</mat-label>
          <input formControlName="storeUrl" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('storeUrl').touched &&
            sourceForm.get('storeUrl').errors?.required
          ">
          Store Domain URL is required
        </mat-error>
        <div
          class="flex items-center mt-1"
          *ngIf="
            !selectedSource.connection_status
              ? selectedSource.need_auth
                ? true
                : false
              : false
          ">
          <button
            class=""
            mat-flat-button
            type="button"
            [color]="'primary'"
            (click)="verifyMarapost()">
            Verify
          </button>
        </div>
      </div>
    </div>

    <!--SalsifySource Section -->
    <div
      class="grid sm:grid-cols-4 gap-6 w-full mt-8"
      *ngIf="
        sourceFormEnum[selectedSource.source_platform] ===
        sourceFormEnum.salsify
      ">
      <!-- API Key -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>API Key</mat-label>
          <input formControlName="apiKey" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('apiKey').touched &&
            sourceForm.get('apiKey').errors?.required
          ">
          API Key is required
        </mat-error>
      </div>
    </div>

    <!--MagentoSource Section -->
    <div
      class="grid sm:grid-cols-4 gap-6 w-full mt-8"
      *ngIf="
        sourceFormEnum[selectedSource.source_platform] ===
        sourceFormEnum.magento
      ">
      <!-- Consumer Key -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Consumer Key</mat-label>
          <input formControlName="consumerKey" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('consumerKey').touched &&
            sourceForm.get('consumerKey').errors?.required
          ">
          Consumer Key is required
        </mat-error>
      </div>

      <!-- Consumer Secret -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Consumer Secret</mat-label>
          <input formControlName="consumerSecret" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('consumerSecret').touched &&
            sourceForm.get('consumerSecret').errors?.required
          ">
          Consumer Secret is required
        </mat-error>
      </div>

      <!-- Access Token -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Access Token</mat-label>
          <input formControlName="accessToken" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('accessToken').touched &&
            sourceForm.get('accessToken').errors?.required
          ">
          Access Token is required
        </mat-error>
      </div>

      <!-- Access Token Secret -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Access Token Secret</mat-label>
          <input formControlName="accessTokenSecret" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('accessTokenSecret').touched &&
            sourceForm.get('accessTokenSecret').errors?.required
          ">
          Access Token Secret is required
        </mat-error>
      </div>
    </div>

    <!--DearSource Section -->
    <div
      class="grid sm:grid-cols-4 gap-6 w-full mt-8"
      *ngIf="
        sourceFormEnum[selectedSource.source_platform] ===
        sourceFormEnum.dearinventory
      ">
      <!-- Account Id -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Account Id</mat-label>
          <input formControlName="accountId" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('accountId').touched &&
            sourceForm.get('accountId').errors?.required
          ">
          Account Id is required
        </mat-error>
      </div>

      <!-- Application Key -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Application Key</mat-label>
          <input formControlName="applicationKey" matInput />
        </mat-form-field>
        <mat-error
          class="text-sm"
          *ngIf="
            sourceForm.get('applicationKey').touched &&
            sourceForm.get('applicationKey').errors?.required
          ">
          Application Key is required
        </mat-error>
      </div>
    </div>

    <!-- Actions -->
    <div class="mt-11 mb-10 border-t"></div>
    <div class="flex items-center justify-end">
      <button mat-stroked-button type="button" (click)="fuseDrawer.close()">
        Cancel
      </button>
      <button
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'"
        (click)="loginSource()">
        {{ isEdit ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>
