<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto">
    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div class="h-14 flex flex-col justify-center">
        <div class="text-3xl font-semibold tracking-tight leading-8">Users</div>
        <div class="text-base leading-none text-secondary">
          To request new or modify user access to your company, please contact
          support@ecommify.io.
        </div>
      </div>
    </div>
  </div>
</div>
