<ng-container *cdkPortal
  ><fuse-drawer
    class="w-screen min-w-screen sm:w-65vw sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'addIntegrationDrawer'"
    [position]="'right'"
    [opened]="fuseDrawerOpened"
    (openedChanged)="openedChanged(fuseDrawer)"
    #fuseDrawer>
    <!-- Title -->
    <div
      class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
      <!-- Header -->
      <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
          <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
          Add Integration
        </div>
      </div>

      <!-- Main -->
      <div class="flex flex-auto overflow-hidden">
        <!-- sources list -->
        <div
          class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
          <form
            class="flex flex-col w-full"
            [formGroup]="selectedIntegrationForm">
            <div class="flex flex-col sm:flex-row p-8">
              <!-- Status -->
              <div class="flex flex-col justify-between">
                <div class="flex flex-col">
                  <span class="font-semibold mb-2">Active</span>
                  <mat-slide-toggle
                    [formControlName]="'active_status'"
                    [color]="'primary'">
                    {{
                      selectedSourceForm?.get('active_status').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
                <div class="flex flex-col">
                  <span class="font-semibold mb-2">IsBeta</span>
                  <mat-slide-toggle
                    [formControlName]="'is_beta'"
                    [color]="'primary'">
                    {{
                      selectedIntegrationForm.get('is_beta').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
                <div class="flex flex-col">
                  <span class="font-semibold mb-2">IsCustom</span>
                  <mat-slide-toggle
                    [formControlName]="'is_custom'"
                    [color]="'primary'">
                    {{
                      selectedIntegrationForm.get('is_custom').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
                <div class="flex flex-col">
                  <span class="font-semibold mb-2">Test Connection</span>
                  <mat-slide-toggle
                    [formControlName]="'force_test_connection'"
                    [color]="'primary'">
                    {{
                      selectedIntegrationForm.get('force_test_connection').value
                        ? 'Active'
                        : 'Disabled'
                    }}
                  </mat-slide-toggle>
                </div>
              </div>

              <div class="flex flex-auto flex-wrap">
                <!-- Name, Description & etc. -->
                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                  <!-- Name -->
                  <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput [formControlName]="'name'" />
                    <mat-error>Integration name is required</mat-error>
                  </mat-form-field>
                  <!-- Description -->
                  <mat-form-field class="w-full">
                    <mat-label>Description</mat-label>
                    <input matInput [formControlName]="'description'" />
                  </mat-form-field>

                  <!-- File Upload -->
                  <div class="flex">
                    <mat-form-field class="w-1/3 pr-2">
                      <mat-label>Logo</mat-label>
                      <input matInput [formControlName]="'icon'" />
                    </mat-form-field>
                    <mat-form-field class="w-2/3 pl-2">
                      <mat-label>Channel Platform</mat-label>
                      <input matInput [formControlName]="'channel_platform'" />
                    </mat-form-field>
                  </div>
                </div>

                <!-- Tags -->
                <div class="flex justify-between w-1/2">
                  <!-- Restricted to companies -->
                  <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- Tags -->
                    <span class="mb-px font-medium leading-tight"
                      >Restricted to companies</span
                    >
                    <div
                      class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                      <!-- Header -->
                      <div class="flex items-center -my-px py-2 px-3">
                        <div class="flex items-center flex-auto min-w-0">
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                          <input
                            class="min-w-0 ml-2 py-1 border-0"
                            type="text"
                            placeholder="Search company"
                            (input)="filterRestrictedToCompanyTags($event)"
                            (keydown)="
                              filterRestrictedToCompanyTagsInputKeyDown($event)
                            "
                            [maxLength]="50"
                            #newTagInput />
                        </div>
                      </div>
                      <!-- Available tags -->
                      <div
                        class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                        <!-- Tags -->
                        <ng-container
                          *ngFor="
                            let tag of filteredRestrictedToCompanyTags;
                            trackBy: trackByFn
                          ">
                          <mat-checkbox
                            class="flex items-center h-10 min-h-10 px-4"
                            [color]="'primary'"
                            [checked]="
                              selectedIntegration.restricted_to_companies?.includes(
                                tag.id
                              )
                            "
                            (change)="toggleRestricedToCompanyTag(tag, $event)">
                            {{ tag.title }}
                          </mat-checkbox>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <!-- Source -->
                  <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- Tags -->
                    <span class="mb-px font-medium leading-tight"
                      >Source<span>*</span></span
                    >
                    <div
                      class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                      <!-- Header -->
                      <div class="flex items-center -my-px py-2 px-3">
                        <div class="flex items-center flex-auto min-w-0">
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                          <input
                            class="min-w-0 ml-2 py-1 border-0"
                            type="text"
                            placeholder="Search company"
                            (input)="filterSourceTags($event)"
                            (keydown)="filterSourceTagsInputKeyDown($event)"
                            [maxLength]="50"
                            #newTagInput />
                        </div>
                      </div>
                      <!-- Available tags -->
                      <div
                        class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                        <!-- Tags -->
                        <ng-container *ngIf="!sourceTagsEditMode">
                          <ng-container
                            *ngFor="
                              let tag of filteredSourceTags;
                              trackBy: trackByFn
                            ">
                            <mat-checkbox
                              class="flex items-center h-10 min-h-10 px-4"
                              [color]="'primary'"
                              [checked]="
                                selectedIntegration.source_id === tag.id
                              "
                              (change)="toggleSourceTag(tag, $event)">
                              {{ tag.title }}
                            </mat-checkbox>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-center w-full border-t px-8 py-4">
              <div class="flex items-center ml-auto mr-0">
                <div class="flex items-center mr-4" *ngIf="flashMessage">
                  <ng-container *ngIf="flashMessage === 'success'">
                    <mat-icon
                      class="text-green-500"
                      [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Integration created</span>
                  </ng-container>
                  <ng-container *ngIf="flashMessage === 'error'">
                    <mat-icon
                      class="text-red-500"
                      [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <span class="ml-2">{{ errorMsg }}</span>
                  </ng-container>
                </div>
                <button
                  mat-flat-button
                  class="mr-2"
                  type="button"
                  (click)="onCancel()">
                  Cancel
                </button>
                <button
                  mat-flat-button
                  [color]="'primary'"
                  type="button"
                  (click)="createIntegration()"
                  [disabled]="selectedIntegrationForm.invalid">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </fuse-drawer>
</ng-container>
