<div
  class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
  <!-- Header -->
  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight">Companies</div>
    <!-- Actions -->
    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <!-- Search -->
      <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-64">
        <mat-icon
          class="icon-size-5"
          matPrefix
          [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <input
          matInput
          [formControl]="searchInputControl"
          [autocomplete]="'off'"
          [placeholder]="'Search company or company ID'" />
      </mat-form-field>
      <!-- Add company button -->
      <button
        class="ml-4"
        mat-flat-button
        [color]="'primary'"
        (click)="createCompany()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Add Company</span>
      </button>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Companies list -->
    <div
      class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="companies$ | async as companies">
        <ng-container *ngIf="companies.length > 0; else noCompanies">
          <div class="grid">
            <!-- Header -->
            <div
              class="companies-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
              matSort
              matSortDisableClear>
              <div>Company ID</div>
              <div class="hidden sm:block">Company Name</div>
              <div class="hidden sm:block">Active</div>
              <div class="hidden sm:block">Referrer</div>
              <!-- <div class="hidden sm:block">Date Added</div> -->
              <div class="hidden sm:block">SKUs</div>
              <div class="hidden sm:block">hasCustom</div>
              <div class="hidden sm:block">Users</div>
              <div class="hidden sm:block">Integrations</div>
              <!-- <div class="hidden lg:block">Active</div> -->
              <div class="hidden sm:block">Action</div>
              <div class="hidden sm:block">Details</div>
            </div>
            <!-- Rows -->
            <ng-container *ngIf="companies$ | async as companies">
              <ng-container
                *ngFor="let company of companies; trackBy: trackByFn">
                <div
                  class="companies-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                  <!-- Company ID -->
                  <div class="hidden sm:block truncate">
                    {{ company?.company_id }}
                  </div>

                  <!-- Company Name -->
                  <div class="hidden sm:block truncate">
                    {{ company?.company_name }}
                  </div>

                  <!-- Status -->
                  <div class="hidden sm:block">
                    <ng-container *ngIf="company?.is_active">
                      <mat-icon
                        class="text-green-400 icon-size-5"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    </ng-container>
                    <ng-container *ngIf="!company?.is_active">
                      <mat-icon
                        class="text-gray-400 icon-size-5"
                        [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </ng-container>
                  </div>

                  <!-- Referrer -->
                  <div class="hidden sm:block">{{ company?.referrer }}</div>

                  <!-- Date Added -->
                  <!-- <div class="hidden sm:block">
                    {{ '12/22/2021' | date: 'dd/MM/yyyy' }}
                  </div> -->

                  <!-- SKUs -->
                  <div class="hidden md:block truncate">
                    {{ company?.sku_used }} / {{ company?.sku_limit }}
                  </div>

                  <!-- hasCustom -->
                  <div class="hidden sm:block">
                    {{ company?.allow_beta == true ? 'Yes' : 'No' }}
                  </div>

                  <!-- Users -->
                  <div class="hidden md:block truncate">
                    {{ company?.user_used }} / {{ company?.user_limit }}
                  </div>

                  <!-- Integrations -->
                  <div class="hidden md:block truncate">
                    {{ company?.integration_used }} /
                    {{ company?.integration_limit }}
                  </div>

                  <!-- Active -->
                  <!-- <div class="hidden lg:block">
                    <ng-container
                      *ngIf="
                        company?.is_active === 'Y' ||
                        company?.is_active === true
                      ">
                      <mat-icon
                        class="text-green-400 icon-size-5"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        company?.is_active === 'N' ||
                        company?.is_active === false
                      ">
                      <mat-icon
                        class="text-gray-400 icon-size-5"
                        [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </ng-container>
                  </div> -->
                  <!-- login as button-->

                  <div>
                    <button
                      [color]="'primary'"
                      mat-button
                      (click)="switchRole(company)">
                      Login As
                    </button>
                  </div>
                  <!-- Details button -->
                  <div>
                    <button
                      class="min-w-10 min-h-7 h-7 px-2 leading-6"
                      mat-stroked-button
                      (click)="toggleDetails(company?.company_id)">
                      <mat-icon
                        class="icon-size-5"
                        [svgIcon]="
                          selectedCompany?.company_id === company?.company_id
                            ? 'heroicons_solid:chevron-up'
                            : 'heroicons_solid:chevron-down'
                        "></mat-icon>
                    </button>
                  </div>
                </div>
                <div class="grid">
                  <ng-container
                    *ngIf="selectedCompany?.company_id === company?.company_id">
                    <ng-container
                      *ngTemplateOutlet="
                        rowDetailsTemplate;
                        context: { $implicit: company }
                      "></ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="pagination.length"
            [pageIndex]="pagination.page"
            [pageSize]="pagination.size"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"></mat-paginator>
        </ng-container>
      </ng-container>

      <ng-template #rowDetailsTemplate let-company>
        <div class="shadow-lg overflow-hidden">
          <div class="flex border-b">
            <!-- Selected company form -->
            <form
              class="flex flex-col w-full"
              [formGroup]="selectedCompanyForm">
              <div class="flex flex-col sm:flex-row p-8">
                <!-- Status -->
                <div
                  class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                  <div class="flex flex-col">
                    <span class="font-semibold mb-2">Active</span>
                    <mat-slide-toggle
                      [formControlName]="'is_active'"
                      [color]="'primary'">
                      {{
                        selectedCompanyForm.get('is_active').value
                          ? 'Active'
                          : 'Disabled'
                      }}
                    </mat-slide-toggle>
                  </div>
                  <div class="flex flex-col mt-8">
                    <span class="font-semibold mb-2">Allow Beta</span>
                    <mat-slide-toggle
                      [formControlName]="'allow_beta'"
                      [color]="'primary'">
                      {{
                        selectedCompanyForm.get('allow_beta').value
                          ? 'Active'
                          : 'Disabled'
                      }}
                    </mat-slide-toggle>
                  </div>
                </div>

                <div class="flex flex-auto flex-wrap">
                  <!-- Name, Referrer & etc. -->
                  <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                    <!-- Name -->
                    <mat-form-field class="w-full">
                      <mat-label>Company Name</mat-label>
                      <input matInput [formControlName]="'company_name'" />
                      <mat-error>Company name is required</mat-error>
                    </mat-form-field>

                    <!-- Limits -->
                    <div class="flex">
                      <mat-form-field class="w-1/4 pr-2">
                        <mat-label>User Limit</mat-label>
                        <input matInput [formControlName]="'user_limit'" />
                        <mat-error>Company name is required</mat-error>
                      </mat-form-field>
                      <mat-form-field class="w-1/4 px-2">
                        <mat-label>Source Limit</mat-label>
                        <input matInput [formControlName]="'source_limit'" />
                        <mat-error>Source Limit is required</mat-error>
                      </mat-form-field>
                      <mat-form-field class="w-1/4 px-2">
                        <mat-label>Integration Limit</mat-label>
                        <mat-error>Integration Limit is required</mat-error>
                        <input
                          matInput
                          [formControlName]="'integration_limit'" />
                      </mat-form-field>
                      <mat-form-field class="w-1/4 pl-2">
                        <mat-label>SKU Limit</mat-label>
                        <mat-error>SKU Limit is required</mat-error>
                        <input matInput [formControlName]="'sku_limit'" />
                      </mat-form-field>
                    </div>

                    <div class="flex">
                      <mat-form-field class="w-1/3 pr-2">
                        <mat-label>Referrer</mat-label>
                        <input matInput [formControlName]="'referrer'" />
                      </mat-form-field>
                      <mat-form-field class="w-2/3 pl-2">
                        <mat-label>Notes</mat-label>
                        <input matInput [formControlName]="'note'" />
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- Tags -->
                  <div class="flex justify-between w-1/2">
                    <!-- Restricted to sources -->
                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                      <!-- Tags -->
                      <span class="mb-px font-medium leading-tight"
                        >Restricted to sources</span
                      >
                      <div
                        class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                        <!-- Header -->
                        <div class="flex items-center -my-px py-2 px-3">
                          <div class="flex items-center flex-auto min-w-0">
                            <mat-icon
                              class="icon-size-5"
                              [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input
                              class="min-w-0 ml-2 py-1 border-0"
                              type="text"
                              placeholder="Source name"
                              (input)="filterRestrictedToSourceTags($event)"
                              (keydown)="
                                filterRestrictedToSourceTagsInputKeyDown($event)
                              "
                              [maxLength]="50"
                              #newTagInput />
                          </div>
                        </div>
                        <!-- Available tags -->
                        <div
                          class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                          <!-- Tags -->
                          <ng-container>
                            <ng-container
                              *ngFor="
                                let tag of filteredRestrictedToSourceTags;
                                trackBy: trackByFn
                              ">
                              <mat-checkbox
                                class="flex items-center h-10 min-h-10 px-4"
                                [color]="'primary'"
                                [checked]="
                                  selectedCompany.restricted_to_sources.includes(
                                    tag.id
                                  )
                                "
                                (change)="
                                  toggleRestrictedToSourceTag(tag, $event)
                                ">
                                {{ tag.title }}
                              </mat-checkbox>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <!-- Restricted to integrations -->
                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                      <!-- Tags -->
                      <span class="mb-px font-medium leading-tight"
                        >Restricted to integrations</span
                      >
                      <div
                        class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                        <!-- Header -->
                        <div class="flex items-center -my-px py-2 px-3">
                          <div class="flex items-center flex-auto min-w-0">
                            <mat-icon
                              class="icon-size-5"
                              [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input
                              class="min-w-0 ml-2 py-1 border-0"
                              type="text"
                              placeholder="Integration name"
                              (input)="
                                filterRestrictedToIntegrationTags($event)
                              "
                              (keydown)="
                                filterRestrictedToIntegrationTagsInputKeyDown(
                                  $event
                                )
                              "
                              [maxLength]="50"
                              #newTagInput />
                          </div>
                        </div>
                        <!-- Available tags -->
                        <div
                          class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                          <!-- Tags -->
                          <ng-container>
                            <ng-container
                              *ngFor="
                                let tag of filteredRestrictedToIntegrationTags;
                                trackBy: trackByFn
                              ">
                              <mat-checkbox
                                class="flex items-center h-10 min-h-10 px-4"
                                [color]="'primary'"
                                [checked]="
                                  selectedCompany?.restricted_to_integrations?.includes(
                                    tag.id
                                  )
                                "
                                (change)="
                                  toggleRestrictedToIntegrationTag(tag, $event)
                                ">
                                {{ tag.title }}
                              </mat-checkbox>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex items-center w-full border-t px-8 py-4">
                <div class="flex items-center ml-auto mr-0">
                  <div class="flex items-center mr-4" *ngIf="flashMessage">
                    <ng-container *ngIf="flashMessage === 'success'">
                      <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                      <span class="ml-2">Company updated</span>
                    </ng-container>
                    <ng-container *ngIf="flashMessage === 'error'">
                      <mat-icon
                        class="text-red-500"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                      <span class="ml-2">{{ errorMsg }}</span>
                    </ng-container>
                  </div>
                  <button
                    mat-flat-button
                    [color]="'primary'"
                    (click)="updateSelectedCompany()"
                    [disabled]="selectedCompanyForm.invalid">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

      <ng-template #noCompanies>
        <div
          class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          There are no companies!
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-container *ngIf="openAddCompany">
  <eco-admin-add-company
    (cancel)="cancelCreateCompany()"></eco-admin-add-company
></ng-container>
